<!DOCTYPE html>
<html>
    <head>
        <title>View Timesheets via Calendar</title>
        <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.css">
        <script src = "https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js"></script>
    </head>
    <body>
        <div id = "calendar"></div>
        <script>
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {contentHeight: 600, aspectRatio: 2,
                events: [
                    {% for timesheet in timesheets %}
                        {
                            title   : '{{timesheet.clfname}} {{timesheet.cllname}} & {{timesheet.crfname}} {{timesheet.crlname}}',
                            start   : '{{timesheet.date}}',
                            color   : '{{timesheet.color}}',
                        }
                    {% if not loop.last %},{% endif %}
                    {% endfor %}
                ]
            });

            calendar.render();
        </script>
        <a href = "/">Home Page</a>
        <a href = "/logout">Logout</a>
        <a href = "/contactlist">Contact List</a>
        <a href = "/createtimesheet">Create New Timesheet Error</a>
        <a href = "/viewtimesheets">View Timesheets</a>
    </body>
</html>