<!DOCTYPE html>
<html>
    <head>
        <title>Close Timesheet Error</title>
    </head>
    <body>
        <h1>Close Timesheet Error</h1>
        <p><b>Client:</b> {{info.clfname}} {{info.cllname}}</p>
        <p><b>Caregiver:</b> {{info.crfname}} {{info.crlname}}</p>
        <p><b>Date opened:</b> {{info.date}} </p>
        <p><b>Reason opened:</b> {{info.reason}}</p>
        <form action="/closetimesheet/{{info.num}}" method = "POST">
        <table>
          <tr>
            <td><label for="day_r">Date Received:</label></td>
            <td><input type="date" name="day_r" required><br></td>
          </tr>
          <tr>
            <td><label for="kind">Method Received:</label></td>
            <td><select name="kind" id = "kind" required>
                <option value="">-----</option>
                <option value="E-signature">E-signature</option>
                <option value="Paper Timesheet">Paper Timesheet</option>
            </select></td>
          </tr>
        </table>
      <input type="submit" name="submit">
      </form>
      <a href = "/viewtimesheets">View All Timesheet Errors</a>
      <a href = "/">Home Page</a>
    </body>
</html>