<!DOCTYPE html>
<html>
    <head>
        <title>Contact List</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <!--Lato Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <style>
        /* Global font - Lato */
        body, h1, h2, h3, h4, h5, h6, p, label, input, button, select, textarea, td, th {
            font-family: 'Lato', sans-serif;
        }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm">

        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src = {{ url_for('static', filename='logo.png') }} style="width:125px;"></a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/contactlist">View All Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adduser">Add User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createtimesheet">Create New Timesheet Error</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">View Timesheet Errors</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/viewtimesheets">View all Timesheet Errors</a></li>
                    <li><a class="dropdown-item" href="/calendar">View Timesheet Errors via Calendar</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">View Dashboards</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/weeklydashboard">View Weekly Dashboard</a></li>
                    <li><a class="dropdown-item" href="/biweeklydashboard">View Bi-Weekly Dashboard</a></li>
                </ul>
            </li>
            </ul>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item"><a class = "btn btn-outline-secondary" href="/updatepassword">Update Password</a></li>
                <li class="nav-item"><a class="btn btn-outline-danger" href="/logout">Logout</a></li>
            </ul>
        </div>

        </nav>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <!-- Bootstrap close button to dismiss the alert -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container mt-3">
        <h1 style="margin-left:20px">Contact List</h1>
        <br>
        <div class="card" style="width: 75rem; margin-left: 20px;">
            <h5 class="card-header">Search for contacts:</h5>
            <div class="card-body">
            <form action="/contactlist" method = "GET">
                <div class="row g-2 align-items-end">
                    <div class="col-sm-3">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form-control">
                    </div>
                    <div class="col-sm-3">
                    <label for="fname">First Name:</label>
                    <input type="text" name="fname" class="form-control">
                    </div>
                    <div class="col-sm-3">
                    <label for="lname">Last Name:</label>
                    <input type="text" name="lname" class="form-control">
                    </div>
                    <div class="col-sm-2">
                    <button type = "submit" class="btn btn-primary"> Search </button>
                    </div>
                </div>
        </form>
        </div>
        </div>
        </div>
        <br>

        <div class="container mt-3">
            <h5>View Contacts by Role:</h5>
             <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#all">All Contacts</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#admin">Admin</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#client">Clients</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#caregiver">Caregivers</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
            <div id="all" class="container tab-pane active"><br>
                <div class="accordion" id="allAccordian">
                {% for person in contacts %}
                <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}" style="background-color: transparent;">
                {{person.fname}} {{person.lname}}
                </button>
                 </h2>
                <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#allAccordian">
                <div class="accordion-body">
                <div class="contact-details">
                <p><b>Type of User:</b> {{person.type}}</p>
                {% if person.type == "Client" %}
                    <p><b>Email/Phone Number:</b> {{person.userid}}</p>
                {% else %}
                    <p><b>Email:</b> <a href = "mailto:{{person['userid']}}">{{person.userid}}</a></p>
                {% endif %}

                {% if person.type == "Client" %}
                    <h3> Caregivers: </h3>
                    <ul>
                    {% if not person['caregiver'] %}
                    <p>No Caregivers Assigned.</p>
                    {% endif %}
                    {% for c in person['caregiver'] %}
                    <li><a href = "mailto:{{c.userid}}">{{c.fname}} {{c.lname}} </a></li>
                    {% endfor %}
                    </ul>
                    <p><a href = "/addcaregiver/{{person.usernum}}"><button class="btn btn-outline-primary">Assign Caregivers</button></a></p>
                    
                {% endif %}
                {% if person.type == "Client" or person.type == "Caregiver" %}
                    <h3>Timesheet Error Status:</h3>
                    <h5>Timesheet Errors that need to be sent:</h5>
                    <ul>
                    {% if not person['sent'] %}
                        <p>No Timesheet Errors need to be sent.</p>
                    {% endif %}
                    {% for s in person['sent'] %}
                        <li>{{ s.date }} | {{s.clfname}} {{s.cllname}} & {{s.crfname}} {{s.crlname}} </li>
                    {% endfor %}
                    </ul>
                    <h5>Timesheet Errors that need to be closed:</h5>
                    <ul>
                    {% if not person['waiting'] %}
                        <p>No Timesheet Errors need to be closed.</p>
                    {% endif %}
                    {% for w in person['waiting'] %}
                        <li>{{ w.date }} | {{ w.clfname }} {{ w.cllname }} & {{ w.crfname }} {{ w.crlname }}</li>
                    {% endfor %}
                    </ul>
                    <h5>Timesheet Errors that were closed this month:</h5>
                    <ul>
                    {% if not person['closed'] %}
                        <p>No Timesheet Errors were closed this month.</p>
                    {% endif %}
                    {% for c in person['closed'] %}
                        <li>{{ c.date }} | {{ c.clfname }} {{c.cllname}} & {{ c.crfname }} {{ c.crlname }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if person.type == "Client" %}
                    <a href="{{ url_for('view_timesheets', client=person.userid, caregiver='', date='') }}"><button class="btn btn-outline-primary">View Timesheet Errors</button></a><br><br>
                {% endif %}
                {% if person.type == "Caregiver" %}
                    <a href="{{ url_for('view_timesheets', client='', caregiver=person.userid, date='') }}"><button class="btn btn-outline-primary">View Timesheet Errors</button></a><br><br>
                {% endif %}
                <a href="/edituser/{{person.usernum}}"><button class ="btn btn-outline-secondary">Edit Information</button></a><br>
            <br><button onclick="deleted('{{person.fname}} {{person.lname}}', '{{person.usernum}}')" class = "btn btn-danger">Delete User</button>
            </ul>
            <script>
            function deleted(name, number) {
                if (confirm("Would you like to delete " + name + "? You can not undo this action.")) {
                    window.location.replace("/deleteuser/" + number)
                }
            }
            </script>
            </div>            
            </div>
            </div>
            </div>
            {% endfor %}
            </div>
            </div>
            <div id="admin" class="container tab-pane fade"><br>
                <div class="accordion" id="adminAccordian">
                {% for person in admin %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ loop.index }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}" style="background-color: transparent;">
                        {{person.fname}} {{person.lname}}
                        </button>
                    </h2>
                    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#adminAccordian">
                    <div class="accordion-body">
                    <div class="contact-details">
                    <p><b>Type of User:</b> Admin</p>
                    <p><b>Email:</b> <a href = "mailto:{{person['userid']}}">{{person.userid}}</a></p>
                    <a href="/edituser/{{person.usernum}}"><button class ="btn btn-outline-secondary">Edit Information</button></a><br>
                    <br><button onclick="deleted('{{person.fname}} {{person.lname}}', '{{person.usernum}}')" class = "btn btn-danger">Delete User</button>
                    </ul>
                    <script>
                    function deleted(name, number) {
                        if (confirm("Would you like to delete " + name + "? You can not undo this action.")) {
                            window.location.replace("/deleteuser/" + number)
                        }
                    }
                    </script>
                    </div>            
                </div>
                </div>
                </div>
                {% endfor %}
                </div>
            </div>
            <div id="client" class="container tab-pane fade"><br>
                <div class="accordion" id="clientAccordian">
                {% for person in client %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ loop.index }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}" style="background-color: transparent;">
                        {{person.fname}} {{person.lname}}
                        </button>
                    </h2>
                    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#clientAccordian">
                    <div class="accordion-body">
                    <div class="contact-details">
                    <p><b>Type of User:</b> Client</p>
                    <p><b>Email/Phone Number:</b> {{person.userid}}</p>
    
                    <h3> Caregivers: </h3>
                    <ul>
                    {% if not person['caregiver'] %}
                        <p>No Caregivers Assigned.</p>
                    {% endif %}
                    {% for c in person['caregiver'] %}
                        <li><a href = "mailto:{{c.userid}}">{{c.fname}} {{c.lname}} </a></li>
                    {% endfor %}
                    </ul>
                    <p><a href = "/addcaregiver/{{person.usernum}}"><button class="btn btn-outline-primary">Assign Caregivers</button></a></p>
                    <h3>Timesheet Error Status:</h3>
                    <h5>Timesheet Errors that need to be sent:</h5>
                    <ul>
                    {% if not person['sent'] %}
                        <p>No timesheet Errors need to be sent.</p>
                    {% endif %}
                    {% for s in person['sent'] %}
                        <li>{{ s.date }} | {{ s.clfname }} {{ s.cllname }} & {{ s.crfname }} & {{ s.crlname }} </li>
                    {% endfor %}
                    </ul>
                    <h5>Timesheet Errors that need to be closed:</h5>
                    <ul>
                    {% if not person['waiting'] %}
                        <p>No Timesheet Errors need to be closed.</p>
                    {% endif %}
                    {% for w in person['waiting'] %}
                        <li>{{ w.date }} | {{ w.clfname }} {{ w.cllname }} & {{ w.crfname }} {{ w.crlname }}</li>
                    {% endfor %}
                    </ul>
                    <h5>Timesheet Errors that were closed this month:</h5>
                    <ul>
                    {% if not person['closed'] %}
                        <p>No Timesheet Errors were closed this month.</p>
                    {% endif %}
                    {% for c in person['closed'] %}
                        <li>{{ c.date }} | {{ c.clfname }} {{ c.cllname }} & {{ c.crfname }} {{c.crlname }}</li>
                    {% endfor %}
                    </ul>
                    
                    <a href="{{ url_for('view_timesheets', client=person.userid, caregiver='', date='') }}"><button class="btn btn-outline-primary">View Timesheet Errors</button></a><br>
                    <br><a href="/edituser/{{person.usernum}}"><button class ="btn btn-outline-secondary">Edit Information</button></a><br>

                    <br><button onclick="deleted('{{person.fname}} {{person.lname}}', '{{person.usernum}}')" class = "btn btn-danger">Delete User</button>
                    </ul>
                    <script>
                    function deleted(name, number) {
                        if (confirm("Would you like to delete " + name + "? You can not undo this action.")) {
                            window.location.replace("/deleteuser/" + number)
                        }
                    }
                    </script>
                    </div>            
                </div>
                </div>
                </div>
                {% endfor %}
                </div>
                
            </div>
            <div id="caregiver" class="container tab-pane fade"><br>
                <div class="accordion" id="caregiverAccordian">
                {% for person in caregiver %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ loop.index }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}" style = "background-color: transparent;">
                        {{person.fname}} {{person.lname}}
                        </button>
                    </h2>
                    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#caregiverAccordian">
                    <div class="accordion-body">
                    <div class="contact-details">
                    <p><b>Type of User:</b> Caregiver</p>
                    <p><b>Email:</b> <a href = "mailto:{{person['userid']}}">{{person.userid}}</a></p>
                    
                    <h3>Timesheet Error Status:</h3>
                    <h5>Timesheet Errors that need to be sent:</h5>
                    <ul>
                    {% if not person['sent'] %}
                        <p>No timesheet Errors need to be sent.</p>
                    {% endif %}
                    {% for s in person['sent'] %}
                        <li>{{ s.date }} | {{ s.clfname }} {{ s.cllname }} & {{ s.crfname }} & {{ s.crlname }} </li>
                    {% endfor %}
                    </ul>
                    <h5>Timesheet Errors that need to be closed:</h5>
                    <ul>
                    {% if not person['waiting'] %}
                        <p>No Timesheet Errors need to be closed.</p>
                    {% endif %}
                    {% for w in person['waiting'] %}
                        <li>{{ w.date }} | {{ w.clfname }} {{ w.cllname }} & {{ w.crfname }} {{ w.crlname }}</li>
                    {% endfor %}
                    </ul>
                    <h5>Timesheet Errors that were closed this month:</h5>
                    <ul>
                    {% if not person['closed'] %}
                        <p>No Timesheet Errors were closed this month.</p>
                    {% endif %}
                    {% for c in person['closed'] %}
                        <li>{{ c.date }} | {{ c.clfname }} {{ c.cllname }} & {{ c.crfname }} {{c.crlname }}</li>
                    {% endfor %}
                    </ul>
                    <a href="{{ url_for('view_timesheets', client='', caregiver=person.userid, date='') }}"><button class="btn btn-outline-primary">View Timesheet Errors</button></a><br>
                    <br><a href="/edituser/{{person.usernum}}"><button class ="btn btn-outline-secondary">Edit Information</button></a><br>

                    <br><button onclick="deleted('{{person.fname}} {{person.lname}}', '{{person.usernum}}')" class = "btn btn-danger">Delete User</button>
                    </ul>
                    <script>
                    function deleted(name, number) {
                        if (confirm("Would you like to delete " + name + "? You can not undo this action.")) {
                            window.location.replace("/deleteuser/" + number)
                        }
                    }
                    </script>
                    </div>            
                </div>
                </div>
                </div>
                {% endfor %}
                </div>
            </div>
            </div>
        </div>
        
    </body>
</html>