<!DOCTYPE html>
<html>
    <head>
        <title>Create New Timesheet</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <!--Lato Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <style>
        /* Global font - Lato */
        body, h1, h2, h3, h4, h5, h6, p, label, input, button, select, textarea, td, th {
            font-family: 'Lato', sans-serif;
        }
        </style>
    </head>
    <body>
      <nav class="navbar navbar-expand-sm">

        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src = {{ url_for('static', filename='logo.png') }} style="width:125px;"></a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/contactlist">View All Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adduser">Add User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createtimesheet">Create New Timesheet Error</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">View Timesheet Errors</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/viewtimesheets">View all Timesheet Errors</a></li>
                    <li><a class="dropdown-item" href="/calendar">View Timesheet Errors via Calendar</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">View Dashboards</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/weeklydashboard">View Weekly Dashboard</a></li>
                    <li><a class="dropdown-item" href="/biweeklydashboard">View Bi-Weekly Dashboard</a></li>
                </ul>
            </li>
            </ul>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item"><a class = "btn btn-outline-secondary" href="/updatepassword">Update Password</a></li>
                <li class="nav-item"><a class="btn btn-outline-danger" href="/logout">Logout</a></li>
            </ul>
        </div>

        </nav>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <!-- Bootstrap close button to dismiss the alert -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <h2 style="text-align: center;">Create New Timesheet Error</h2><br>
        <div class="card" style="width: 20rem; margin: auto;">
            <div class="card-body">
            <form action="/createtimesheet" method = "POST">
              <div class="row g-2 align-items-end">
                <label for="client">Client:</label>
                <input type="text" list="client" id="client-input" name="client_id" class="form-select form-select-sm">
                <datalist id="client">
                  {% for c in cl_list %}
                    <option value="{{ c.userid }}" label="{{ c.fname }} {{ c.lname }}"></option>
                  {% endfor %}
                </datalist>
              </div><br>
              <div class="row g-2 align-items-end">
                <label for="caregiver">Caregiver:</label>
                <input type="text" list="caregiver" id="caregiver-input" name="caregiver_id" class="form-select form-select-sm">
                <datalist id="caregiver">
                  {% for c in cr_list %}
                    <option value="{{ c.userid }}" label="{{ c.fname }} {{ c.lname }}"></option>
                  {% endfor %}
                </datalist>
              </div><br>
              <div class="row g-2 align-items-end">
                <label for="date">Date:</label>
                <input type="date" name="date" class="form-control form-control-sm" required>
              </div><br>
              <div class="row g-2 align-items-end">
                <label for="reason">Reason:</label>
                <select class = "form-select form-select-sm" name="reason" id = "reason" required>
                  <option value="">-----</option>
                  <option value="Out of window clock-in">Out of window clock-in</option>
                  <option value="Out of window clock-out">Out of window clock-out</option>
                  <option value="Clock-in is GPS out of range">Clock-in is GPS out of range</option>
                  <option value="Clock-out is GPS out of range">Clock-out is GPS out of range</option>
                  <option value="Missing clock-in">Missing clock-in</option>
                  <option value="Missing clock-out">Missing clock-out</option>
                  <option value="Tasks not noted">Tasks not noted</option>
                  <option value="Not enough tasks noted">Not enough tasks noted</option>
                </select>
              </div><br>
              <input type="submit" name="submit" class = "btn btn-primary">
            </form>
          </div>
        </div>
    </body>
</html>