<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Welcome, {{session['user']['fname']}} {{session['user']['lname']}}</h1>
        <p><a href = "/logout">Logout</a></p>
        <p><a href = "/adduser">Add User</a></p>
        <p><a href = "/contactlist">View Contacts</a></p>
        <p><a href = "/createtimesheet">Create New Timesheet Error</a></p>
        <p><a href = "/viewtimesheets">View Timesheet Errors</a></p>
        <p><a href = "/updatepassword">Update Password</a></p>
    </body>
</html>