<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Welcome, {{session['user']['fname']}} {{session['user']['lname']}}</h1>

        {% if sent %}
        <h3>Timesheets that need to be sent:</h3>
        {% for timesheet in sent %}
        <details>
            <summary style="color: red;">{{timesheet.date}} | {{timesheet.clfname}} {{timesheet.cllname}} | {{timesheet.crfname}} {{timesheet.crlname}}</summary>
            <ul>
            <p><b>Client email/phone number: </b>{{timesheet.clientid}}</p>
            <p><b>Caregiver email:</b> <a href = "mailto:{{timesheet['caregiverid']}}">{{timesheet.caregiverid}}</a></p>
            <p><b>Reason:</b> {{timesheet.reason}}</p>
            {% if timesheet.sent == 0 %}
                <p><b>Status:</b> Still need to send</p>
                <p><a href = "/senttimesheet/{{timesheet.num}}"><button>Update Timesheet as Sent</button></a></p>
            {% endif %}
            </ul>
        </details>
        {% endfor %}
        {% else %}
        <h3>No Timesheets need to be sent.</h3>
        {% endif %}

        {% if waiting %}
        <h3>Timesheets that need to be closed:</h3>
        {% for timesheet in waiting %}
        <details>
            <summary style="color: goldenrod;">{{timesheet.date}} | {{timesheet.clfname}} {{timesheet.cllname}} | {{timesheet.crfname}} {{timesheet.crlname}}</summary>
            <ul>
            <p><b>Client email/phone number: </b>{{timesheet.clientid}}</p>
            <p><b>Caregiver email:</b> <a href = "mailto:{{timesheet['caregiverid']}}">{{timesheet.caregiverid}}</a></p>
            <p><b>Reason:</b> {{timesheet.reason}}</p>
                <p><b>Status:</b> Awaiting Response</p>
                <p><a href = "/closetimesheet/{{timesheet.num}}"><button>Close Timesheet</button></a></p>
            </ul>
        </details>
        {% endfor %}
        {% else %}
        <h3>No Timesheets are waiting to be received.</h3>
        {% endif %}
        <p><a href = "/logout">Logout</a></p>
        <p><a href = "/adduser">Add User</a></p>
        <p><a href = "/contactlist">View Contacts</a></p>
        <p><a href = "/createtimesheet">Create New Timesheet Error</a></p>
        <p><a href = "/viewtimesheets">View Timesheet Errors</a></p>
        <p><a href = "/updatepassword">Update Password</a></p>
    </body>
</html>