<!DOCTYPE html>
<html>
    <head>
        <title>Update Password</title>
    </head>
    <body>
      <h1>Update password for {{session.user.fname}} {{session.user.lname}}</h1>
      <form action="/updatepassword" method = "POST">
        <table>
          <tr>
            <td><label for="new">New Password:</label></td>
            <td><input type="text" name="new" ><br></td>
          </tr>
          <tr>
            <td><label for="second">Confirm Password:</label></td>
            <td><input type="text" name="second" ><br></td>
          </tr>
        </table>
      <input type="submit" name="submit">
      </form>
        <p><a href = "/logout">Logout</a></p>
        <p><a href = "/adduser">Add User</a></p>
        <p><a href = "/contactlist">View Contacts</a></p>
        <p><a href = "/createtimesheet">Create New Timesheet Error</a></p>
        <p><a href = "/viewtimesheets">View Timesheet Errors</a></p>
    </body>
</html>