<!DOCTYPE html>
<html>
    <head>
        <title>View Timesheet Errors</title>
    </head>
    <body>
        <h1>View Timesheet Errors</h1>
        {% for timesheet in info %}
        <details>
            <summary>{{timesheet.date}} | {{timesheet.clfname}} {{timesheet.cllname}} | {{timesheet.crfname}} {{timesheet.crlname}}</summary>
            <ul>
            <p><b>Client email:</b> <a href = "mailto:{{timesheet['clientid']}}">{{timesheet.clientid}}</a></p>
            <p><b>Caregiver email:</b> <a href = "mailto:{{timesheet['caregiverid']}}">{{timesheet.caregiverid}}</a></p>
            <p><b>Reason:</b> {{timesheet.reason}}</p>
            {% if timesheet.sent == 0 %}
                <p><b>Status:</b> Still need to send</p>
                <p><a href = "/senttimesheet/{{timesheet.num}}"><button>Update Timesheet as Sent</button></a></p>
            {% elif timesheet.received == 0 %}
                <p><b>Status:</b> Awaiting Response</p>
                <p><a href = "/closetimesheet/{{timesheet.num}}"><button>Close Timesheet</button></a></p>
            {% else %}
                <p><b>Status:</b> Closed</p>
                <p><b>Day received:</b> {{timesheet.day_r}}</p>
                <p>Received via {{timesheet.type}}</p>
            {% endif %}
            </ul>
        </details>
        {% endfor %}
      <a href = "/">Home Page</a>
      <a href = "/logout">Logout</a>
      <a href = "/contactlist">Contact List</a>
      <a href = "/createtimesheet">Create New Timesheet Error</a>
    </body>
</html>