<!DOCTYPE html>
<html>
    <head>
        <title>View Weekly Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!--Lato Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <style>
        /* Global font - Lato */
        body, h1, h2, h3, h4, h5, h6, p, label, input, button, select, textarea, td, th {
            font-family: 'Lato', sans-serif;
        }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm">

        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src = {{ url_for('static', filename='logo.png') }} style="width:125px;"></a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/contactlist">View All Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adduser">Add User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createtimesheet">Create New Timesheet Error</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">View Timesheet Errors</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/viewtimesheets">View all Timesheet Errors</a></li>
                    <li><a class="dropdown-item" href="/calendar">View Timesheet Errors via Calendar</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">View Dashboards</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/weeklydashboard">View Weekly Dashboard</a></li>
                    <li><a class="dropdown-item" href="/biweeklydashboard">View Bi-Weekly Dashboard</a></li>
                </ul>
            </li>
            </ul>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item"><a class = "btn btn-outline-secondary" href="/updatepassword">Update Password</a></li>
                <li class="nav-item"><a class="btn btn-outline-danger" href="/logout">Logout</a></li>
            </ul>
        </div>

        </nav>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <!-- Bootstrap close button to dismiss the alert -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <h1 style="text-indent: 20px;">Weekly Dashboard:</h1>
        <h4 style="text-indent: 40px;">{{first}} to {{last}}</h4>

        <!-- get stats about timesheet errors-->
        <div class="container mt-2">
        <div class="card h-100">
            <div class="card-header bg-secondary text-white d-flex align-items-center">
            <h5 class="mb-0 fw-bold">Timesheet Error Statistics:</h5>
            </div>
            <div class="card-body overflow-auto" style="max-height: 400px;" tabindex="0">
                <h5>Weekly Statistics:</h5>
                <p><b>Number of open Timesheets created this week: </b>{{count.week_open}}</p>
                <p><b>Number of Timesheet Errors closed this week: </b>{{count.week_closed}}</p><br>
                <h5>Total Statistics:</h5>
                <p><b>Total number of Timesheet Errors that still need to be sent: </b>{{count.send}}</p>
                <p><b>Total number of Timesheet Errors that still need to be closed: </b>{{count.wait}}</p>
                <p><b>Total Outstanding Timesheet Errors: </b>{{count.outstanding}}</p>
            </div>
        </div>
        </div><br>
        
        <div class="container mt-2">
        <div class="row flex-nowrap pb-3">
    
        <!-- see reasons for a timesheet being created: -->
        <div class="col-12 col-md-6" style="flex: 0 0 auto;">
        <div class="card h-100" style="max-height: 750px;">
        <div class="card-header bg-dark text-white d-flex align-items-center">
            <h5 class="mb-0 fw-bold">Reasons for Timesheet Errors created this week:</h5>
        </div>
        <div class="card-body" style="max-height: 750px;" tabindex="0">
            {% for r in reason %}
                <p><b>{{r.reason}}:</b> {{r.reason_count}}</p>
            {% endfor %}
        </div>
        </div>
        </div>
        <div class="col-12 col-md-6" style="flex: 0 0 auto;">
        <div class="card h-100" style="max-height: 750px;">
        <div class="card-header bg-dark text-white d-flex align-items-center">
            <h5 class="mb-0 fw-bold">Reasons for Timesheet Errors created this week via pie chart:</h5>
        </div>
        <div class="card-body" style="max-height: 750px;" tabindex="0">
            <div style="width: 400px; margin: 10px auto;">
            <canvas id="myPieChart"></canvas>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const chartLabels = {{ reason_labels | tojson }};
            const chartData = {{ reason_values | tojson }};

            const ctx = document.getElementById('myPieChart').getContext('2d');
            const myBarChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: chartLabels,
                    datasets: [{
                        label: 'Reasons for Timesheet Errors',
                        data: chartData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',   // Bar 1 (Red)
                            'rgba(54, 162, 235, 0.5)',   // Bar 2 (Blue)
                            'rgba(255, 206, 86, 0.5)',   // Bar 3 (Yellow)
                            'rgba(75, 192, 192, 0.5)',   // Bar 4 (Green)
                            'rgba(153, 102, 255, 0.5)',  // Bar 5 (Purple)
                            'rgba(255, 159, 64, 0.5)',   // Bar 6 (Orange) 
                            'rgba(201, 203, 207, 0.5)',  // Bar 7 (Grey)
                            'rgba(0, 206, 201, 0.5)'     // Bar 8 (Teal)
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(201, 203, 207, 1)',
                            'rgba(0, 206, 201, 1)'
                        ],
                        borderWidth: 1
                    }],
                },
                options: {
                    responsive: true,
                }
            });
        </script>
        </div>
        </div>
        </div>
        </div>
        </div>

        <!-- see client/caregiver timesheet error count -->
        <div class="container mt-2">
        <div class="card h-100">
            <div class="card-header bg-primary text-white d-flex align-items-center">
            <h5 class="mb-0 fw-bold">Client/Caregiver Timesheet Error count:</h5>
            </div>
            <div class="card-body overflow-auto" style="max-height: 400px;" tabindex="0">
                {% for c in combo %}
                <p><b>{{c.clfname}} {{c.cllname}} & {{c.crfname}} {{c.crlname}}:</b> {{c.combo_count}}</p>
                {% endfor %}

            </div>
        </div>
        </div><br>

        <div class="container mt-2">
        <div class="row flex-nowrap pb-3">
    
        <!-- timesheets that were created but not closed this week: -->
        <div class="col-12 col-md-6 col-md-4" style="flex: 0 0 auto;">
        <div class="card h-100">
        <div class="card-header bg-info text-white d-flex align-items-center">
            <h5 class="mb-0 fw-bold">Open Timesheet Errors that were created this week:</h5>
        </div>
        <div class="card-body overflow-auto" style="max-height: 400px;" tabindex="0">
            {% if created %}
            <div class="accordion" id="sentAccordian">
            {% for timesheet in created %}
            <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}" style="background-color: transparent;">
                {{timesheet.date}} | {{timesheet.clfname}} {{timesheet.cllname}} & {{timesheet.crfname}} {{timesheet.crlname}}
                </button>
            </h2>
            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#sentAccordian">
            <div class="accordion-body">
            <div class="timesheet-details">
            <p><b>Client email/phone number: </b>{{timesheet.clientid}}</p>
            <p><b>Caregiver email:</b> <a href = "mailto:{{timesheet['caregiverid']}}">{{timesheet.caregiverid}}</a></p>
            <p><b>Reason:</b> {{timesheet.reason}}</p>
            {% if timesheet.sent == 0 %}
                <p><b>Status:</b> Still need to send</p>
            {% else %}
                <p><b>Status:</b> Awaiting Response</p>
            {% endif %}
            </div>            
            </div>
            </div>
            </div>
            {% endfor %}
            </div>
            {% else %}
            <p>No open Timesheet Errors were created this week.</h3>
            {% endif %}
        </div>
        </div>
        </div>

        <!-- timesheets that were closed this week: -->
        <div class="col-12 col-md-6 col-md-4" style="flex: 0 0 auto;">
        <div class="card h-100">
        <div class="card-header bg-success text-white d-flex align-items-center">
            <h5 class="mb-0 fw-bold">Timesheet Errors that were closed this week:</h5>
        </div>
        <div class="card-body overflow-auto" style="max-height: 400px;" tabindex="0">
            {% if closed %}
            <div class="accordion" id="waitingAccordian">
            {% for timesheet in closed %}
            <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}" style="background-color: transparent;">
                {{timesheet.date}} | {{timesheet.clfname}} {{timesheet.cllname}} & {{timesheet.crfname}} {{timesheet.crlname}}
                </button>
            </h2>
            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#waitingAccordian">
            <div class="accordion-body">
            <div class="timesheet-details">
                <p><b>Client email/phone number: </b>{{timesheet.clientid}}</p>
                <p><b>Caregiver email:</b> <a href = "mailto:{{timesheet['caregiverid']}}">{{timesheet.caregiverid}}</a></p>
                <p><b>Reason:</b> {{timesheet.reason}}</p>
                <p><b>Status:</b> Closed</p>
                <p><b>Day received:</b> {{timesheet.day_r}}</p>
                <p>Received via {{timesheet.type}}</p>
            </div>            
            </div>
            </div>
            </div>
            {% endfor %}
            </div>
            {% else %}
            <p>No Timesheets need to be closed.</h3>
            {% endif %}
        </div>
        </div>
        </div>
        </div>

    </body>
</html>